<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>

    <h4><a style="margin-top:20px ;color:white;border:  2px #42F3FA solid; border-radius: 5px;background-color: #59238F;border-radius: 8px;">&nbsp; Transcation History &nbsp;</a></h4>

    <div class="loginBox container">
        <br>
        <table class="  border border-white rounded" style="border-radius:10px ;margin-bottom: 30px;width:100%;">
            <thead>

                <tr>
                    <th class="border border-white ">&nbsp; Type</th>
                    <th class="border border-white">&nbsp;Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of transaction">
                    <td class="border border-white">&nbsp; {{i.type}} </td>
                    <td class="border border-white">&nbsp; Rs : {{i.amount}}</td>
                </tr>

            </tbody>
        </table>
        <br>
    </div>

</body>

</html>