<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Create your Account</h3>
        <form action="login.php" method="post"(ngSubmit)="register()" [formGroup]="registerForm">
            <div class="inputBox"> 


                <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
                    <p style="font-size: 14px;margin-top: -13px;color:#59238F;margin-bottom: -1px;">incorrect username</p>
                </div>
                <input name="uname" type="text" formControlName="uname"  placeholder="Username"  id="uname"> 


                <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
                    <p style="font-size: 14px;margin-top: -13px;color:#59238F;margin-bottom: -1px;">incorrect Account number</p>
                </div>
                <input name="acnum" type="text" formControlName="acno"  placeholder="Account No:"  id="acid">
                
                
                <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">
                    <p style="font-size: 14px;margin-top: -13px;color:#59238F;margin-bottom: -1px;">Contain atleast five value</p>
                </div>
                <input name="pass"  type="password" formControlName="psw" placeholder="Password"  id="pid" > </div> 
            <button type="submit"  class="man1" >Sign Up</button>
        </form> 
        <br>
       
    </div>  
    
</body>
</html>